:root {
    --light-grey: #ebebeb;
    --mid-grey: #4b4b4d;
    --dark-grey: #323233;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Gill Sans", "Gill Sans MT", Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.navbar .navbar-brand img {
    width: 100%;
    max-width: 130px;    
}

.dropdown-toggle::after {
    color: #fff;
    vertical-align: 0.155em;
}

.cart {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart .cart-item-number {
    background-color: #bd2130;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
}

#filter-col {
    width: 320px;
    position: relative;
    transition: width 0.2s ease-in-out;
}

#filter-col.open {
    width: 150px;
}

#major-col{
    transition: width 0.2s ease-in-out;
    width: calc(100% - 320px);
    position: relative;
    background-color: #f7f7f7;
}

#filter-col.open  + #major-col{
    width: calc(100% - 150px) !important;
}

#close-filter {
    height: 100%;
    width: 60px;
    background-color: #151515;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    transition: width 0.1s ease-in;
}

#close-filter::before {
    content: "";
    height: 2px;
    width: 30px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: rotate(45deg);
    transform-origin: center;
    transition: all 0.3s cubic-bezier(0.63, -0.69, 0.15, 1.31);
}

#close-filter::after {
    content: "";
    height: 2px;
    width: 30px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: all 0.3s cubic-bezier(0.63, -0.69, 0.15, 1.31);
}

#close-filter:hover::before {
    transform: rotate(0deg);
}

#close-filter:hover::after {
    transform: rotate(0deg);
}

.search-icon {
    position: absolute;
    top: 15px;
}

.search-icon img {
    width: 20px;
}

.input-search {
    border: 0;
    margin-top: 10px;
    outline: 0;
    width: 100%;
    display: inline-block;
    padding-left: 30px;
    background-color: #f7f7f7;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

#aside-popper {
    height: 100%;
}

.icon-close-adjust {
    margin-bottom: 2px;
}

a.clean-filter {
    color: #4b4b4d;
}

a.clean-filter:hover {
    color: #747475;
}

#aside-popper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 320px;
    min-height: 800px;
    z-index: 10;
    background-color: #fff;
    transition: left 0.3s ease-in-out;
}

#aside-popper.active {
    left: -100% !important;
}

#aside-popper.active + #main-content {
    width: 100% !important;
}

#main-content {
    padding: 1.5em;
    margin-left: auto;
    width: calc(100% - 320px) !important;
    transition: width 0.3s ease-in-out;
}

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    width: 100%;
    border: 0;
    background-color: #fff;
    outline: none;
}

.section-header .section-title {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--mid-grey);
    margin-bottom: 0;
}


.section-title + img {
    width: 20px;
}

.section-drop{
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

.section-drop select {
    width: 100%;
    padding: 8px;
    outline: 0;
    border: 1px solid #ddd;
}

.icon-plus {
    position: relative;
    height: 12px;
    width: 12px;
}

.icon-plus::before {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--dark-grey);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icon-plus::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--dark-grey);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    transition: all 0.2s cubic-bezier(0.62, -0.2, 0.83, 0.99);
}

.section-header.active .icon-plus::after {
    transform: translateY(-50%) rotate(0deg);
}

.filter-list .check-item {
    position: relative;
}

.filter-list .check-item .check-input {
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    z-index: 10;
    cursor: pointer;
}

.filter-list .check-item .check-label {
    display: inline-block;
}

.filter-list .check-item .check-label .check-box {
    height: 18px;
    width: 18px;
    position: relative;
    display: inline-block;
    margin-right: 8px;
    text-align: center;
    vertical-align: text-bottom;
}

.filter-list .check-item .check-label .color {
    position: absolute;
    top: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: block;
}

.ambar {
    background-color: #c97f0e;
    right: 170px;
}

.transparente {
    background-color: #eee;
    right: 120px;
}

.verde {
    background-color: #328537;
    right: 175px;
}

.filter-list .check-item .check-label .check-box::after {
    content: url("../img/icons/checkmark-outline.svg");
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--light-grey);
    background-color: transparent;
    transition: all 0.s;
}

.filter-list .check-item .check-input:checked + .check-label .check-box::after {
    background-color: #1783f7;
}

.filter-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    width: 100%;
    border: 0;
    background-color: #fff;
    outline: none;
}

.filter-header .section-title {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--mid-grey);
    margin-bottom: 0;
}

.box-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-produto {
    background-color: #fff;
    width: 100%;
    max-width: calc(20% - 6px);
    text-align: center;
    margin: 3px;
    display: flex;
    flex-direction: column;
    transition: all .3s cubic-bezier(.23,1,.32,1);
}

.box-produto:hover {
    box-shadow: 0 10px 40px rgba(0,0,0,.1);
}

.box-produto a .big-info {
    padding: 4em 0 1em;
}

.box-produto a .big-info .img-prod img {
    max-height: 155px;
}

.box-produto a .big-info .color-prod {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: block;
    margin: 1em auto;
}

.ambar-color {
    background-color: #c97f0e;
}

.transparente-color {
    background-color: #eee;
}

.verde-color {
    background-color: #328537;
}

.box-produto .big-info .capacidade {
    font-size: 22px;
    color: var(--dark-grey);
    margin: 0;
    font-weight: 600;
}

.box-produto:hover .big-info .capacidade {
    color: #178585;
}

.box-produto .big-info .nome-prod {
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-grey);
    transition: all .3s cubic-bezier(.23,1,.32,1);
}

.box-produto:hover .big-info .nome-prod {
    color: #178585;
}

.box-produto .small-infos {
    display: flex;
    margin-top: auto;
}

.box-produto .small-infos .row-width {
    flex-basis: 50%;
}

.box-produto .small-infos .row-width .info {
    border-top: 1px solid #ddd;
}

.box-produto .small-infos .row-width .info p {
    font-size: 12px;
    color: #b1b1b1;
    margin: 3px 0;
    display: flex;
    flex-direction: revert;
    justify-content: center;
    align-items: center;
}

.box-produto .small-infos .row-width .info p img {
    height: 16px;
    margin-right: 4px;
}

.box-produto .small-infos .row-width:first-child {
    border-right: 1px solid #ddd;
}

.box-produto a .add-cart {
    background-color: var(--mid-grey);
    padding: 10px 0;
    color: #f7f7f7;
    transition: background-color 0.5s ease;
}

.box-produto a .add-cart:hover {
    background-color: var(--dark-grey);
}

/*CSS INDEX DESTAQUE*/

.box-destaque {
    min-height: 650px;
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
}

.box-destaque::after {
    content: "";
    position: absolute;
    background-image: url("../img/gradient.png");
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.box-destaque .text-destaque {
    margin-top: auto;
    padding: 3em;
    position: relative;
    z-index: 3;
}

.box-destaque .text-destaque h2 {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.box-destaque .text-destaque p {
    color: #fff;
    margin: 1em 0;
}

.btn-destaque {
    border: 0;
    background-color: var(--dark-grey);
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 3.5em;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    transition: all 0.2s ease;
}

.btn-destaque:hover {
    background-color: #222;
}

.btn-destaque img {
    position: absolute;
    top: 50%;
    left: 175px;
    transform: translateY(-50%);
    width: 15px;
    margin-left: 10px;
    transition: all 0.2s ease;
}

.btn-destaque:hover  img{
    background-color: #222;
    left: 180px;
}